{% extends '/templates/layout.twig' %}

{% block body %}

    <h1 class="mt-3 mb-3">Создание статьи</h1>

    <form action="/article/create" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Название статьи</label>
            <input name="title" type="text" class="form-control" id="exampleFormControlInput1" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Описание</label>
            <input name="description" type="text" class="form-control" id="exampleFormControlInput1" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Текст</label>
            <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
        </div>
        <input name="createArticle" type="submit" class="btn btn-primary" value="Создать статью">

    </form>

{% endblock %}