{% extends 'templates/layout.twig' %}

{% block body %}

    <div class="mt-3 float-start">
        <img src="https://fakeimg.pl/250x300/" alt="">
    </div>

    <div class="ps-3 mt-3 float-start">
        <h3>Имя и email:</h3>
        <p>Firstname Secondname <em>(Useremail@gmail.com)</em></p>
        <h3>Дата регистрации:</h3>
        <p>2022-08-25 20:22:12</p>
    </div>
{% endblock %}